{% extends 'base.html.twig' %}

{% block title %}Operation{% endblock %}

{% block body %}
    <h1>Operation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ operation.id }}</td>
            </tr>
            <tr>
                <th>Profit</th>
                <td>{{ operation.profit }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ operation.date ? operation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ operation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('operation_index') }}">back to list</a>

    <a href="{{ path('operation_edit', {'id': operation.id}) }}">edit</a>

    {{ include('operation/_delete_form.html.twig') }}
{% endblock %}